<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-slider">
            <ul class="cbp-slider-wrap">
                <li class="cbp-slider-item">
                    <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/marketing-campaign/showcase/marketing-campaign-showcase2.jpg" class="cbp-lightbox">
                        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/marketing-campaign/showcase/marketing-campaign-showcase2.jpg" alt="...">
                    </a>
                </li>
                <li class="cbp-slider-item">
                    <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/marketing-campaign/showcase/marketing-campaign-showcase3.jpg" class="cbp-lightbox">
                        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/marketing-campaign/showcase/marketing-campaign-showcase3.jpg" alt="...">
                    </a>
                </li>
                <li class="cbp-slider-item">
                    <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/marketing-campaign/showcase/marketing-campaign-showcase4.jpg" class="cbp-lightbox">
                        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/marketing-campaign/showcase/marketing-campaign-showcase4.jpg" alt="...">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">Blankon Marketing Campaign</div>

        <div class="cbp-l-inline-desc">
            <p>It is a design speciality for marketing campaign dashboard designs, there are many features for support all system marketing. Such as Dashboard design with overview count target media social, progress chart and widget marketing and amazing others design do you need!</p>
            <p>This design support 100% responsive design, all cross browser and can open it with any devices (desktop, tablet or phone).</p>
            <hr/>
        </div>
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/admin-special/marketing-campaign/index.html" target="_blank" class="cbp-l-inline-view pull-right btn btn-success">VIEW DESIGN</a>
    </div>
</div>
