<div class="cbp-l-inline">
    <div class="cbp-l-inline-left scroll">
        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/frontend-themes/one-page/start-page/showcase/start-page-desc.jpg" alt="...">
    </div>
    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">Start Page</div>

        <div class="cbp-l-inline-desc">
            <p>Suitable to support your promoted products, there are section for handle banner showcase product, or handle all screenshots your products.</p>
            <p>This design support 100% responsive design, all cross browser and can open it with any devices (desktop, tablet or phone).</p>
            <hr/>
            <dl class="dl-horizontal">
                <dt>Section designs</dt>
                <dd>header menu navigation, banner headline website, special features, common features, supported resolutions, footer menu</dd>
                <dt>CSS Preprocessor</dt>
                <dd><a href="http://sass-lang.com/" target="_blank">SASS</a>, <a href="http://compass-style.org/" target="_blank">Compass</a></dd>
                <dt>Plugins</dt>
                <dd>
                    <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>,
                    <a href="https://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a>,
                    <a href="https://daneden.github.io/animate.css/" target="_blank">Animate.css</a>,
                    <a href="https://jquery.com/" target="_blank">JQuery</a>,
                    <a href="http://gsgd.co.uk/sandbox/jquery/easing/" target="_blank">JQuery Easing</a>,
                    <a href="http://areaaperta.com/nicescroll" target="_blank">JQuery Nicescroll</a>,
                    <a href="http://ionden.com/a/plugins/ion.sound/en.html" target="_blank">Ion Sounds</a>,
                    <a href="http://imulus.github.io/retinajs/" target="_blank">Retina.js</a>,
                    <a href="https://github.com/imakewebthings/jquery-waypoints" target="_blank">JQuery Waypoints</a>
                </dd>
                <dt>Theme color</dt>
                <dd><span class="label-theme-color" style="background-color: #81b71a;">&nbsp;</span>#81b71a</dd>
            </dl>
        </div>
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend/one-page/start-page/index.html" target="_blank" class="cbp-l-inline-view pull-right">VIEW DESIGN</a>
    </div>
</div>
