<div class="cbp-l-inline">
    <div class="cbp-l-inline-left scroll">
        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/slider-revolution/app-landing-page-detail.jpg" alt="...">
    </div>
    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">App Landing Page</div>

        <div class="cbp-l-inline-desc">
            <p>Suitable to support your landing page website will be launched, there are section for handle banner slider and another slider for your need on landing page website.</p>
            <p>This design support 100% responsive design, all cross browser and can open it with any devices (desktop, tablet or phone).</p>
            <hr/>
            <dl class="dl-horizontal">
                <dt>Section designs</dt>
                <dd>banner slider, features, testimonial, footer menu</dd>
                <dt>CSS Preprocessor</dt>
                <dd><a href="http://sass-lang.com/" target="_blank">SASS</a>, <a href="http://compass-style.org/" target="_blank">Compass</a></dd>
                <dt>Plugins</dt>
                <dd>
                    <a href="https://jquery.com/" target="_blank">JQuery</a>,
                    <a href="http://gsgd.co.uk/sandbox/jquery/easing/" target="_blank">JQuery easing</a>,
                    <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>,
                    <a href="http://imulus.github.io/retinajs/" target="_blank">Retina.js</a>,
                    <a href="https://fortawesome.github.io/Font-Awesome/" target="_blank">Font awesome</a>,
                    <a href="http://thesabbir.github.io/simple-line-icons/" target="_blank">Simple line icons</a>,
                    <a href="https://daneden.github.io/animate.css/" target="_blank">Animate.css</a>,
                    <a href="http://revolution.themepunch.com/jquery/" target="_blank">Slider revolution</a>,
                    <a href="http://scriptpie.com/cubeportfolio/live-preview/" target="_blank">Cubeportfolio</a>,
                    <a href="http://mynameismatthieu.com/WOW/" target="_blank">WOW.js</a>
                </dd>
                <dt>Loader type</dt>
                <dd>
                    <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/documentation/admin/html/live-preview-documentation.html#preloader" target="_blank">Double bounce</a>
                </dd>
                <dt>Default theme</dt>
                <dd>
                    <span class="color-theme" style="background-color: #89124E">&nbsp;</span> #89124E
                </dd>
            </dl>
        </div>
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend/one-page-revolution-slider/app-landing-page/index.html" target="_blank" class="cbp-l-inline-view pull-right">VIEW DESIGN</a>
    </div>
</div>
