/* ========================================================================
 * CUBE PORTFOLIO
 * ======================================================================== */
.cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active {
  border-bottom-color: #2C3E50;
}

.cbp-l-filters-underline .cbp-filter-item {
  margin-top: 0px;
}

.cbp-item:last-child .cbp-caption {
  border-bottom: none !important;
}

.cbp-caption-expand .cbp-caption-defaultWrap, .cbp-caption-expand .cbp-l-caption-body {
  font-family: "Open Sans", sans-serif;
}
.cbp-caption-expand .cbp-caption-defaultWrap {
  padding: 10px 0 10px 5px;
}
.cbp-caption-expand .cbp-caption-defaultWrap i {
  background-color: #ebebed;
  text-align: center;
  line-height: 29px;
  top: 8px;
  margin-right: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
}

/* ========================================================================
 * COLOR PANEL
 * ======================================================================== */
.panel-primary .cbp-l-filters-underline .cbp-filter-item, .panel-danger .cbp-l-filters-underline .cbp-filter-item, .panel-warning .cbp-l-filters-underline .cbp-filter-item, .panel-danger .cbp-l-filters-underline .cbp-filter-item, .panel-info .cbp-l-filters-underline .cbp-filter-item, .panel-success .cbp-l-filters-underline .cbp-filter-item {
  color: #e0e0e0;
}
.panel-primary .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-danger .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-warning .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-danger .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-info .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-success .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active {
  color: #FFFFFF;
}
.panel-primary .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-danger .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-warning .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-danger .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-info .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-success .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active {
  border-bottom-color: #FFFFFF;
}
