<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-slider">
            <ul class="cbp-slider-wrap">
                <li class="cbp-slider-item">
                    <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/ecommerce/showcase/ecommerce-showcase2.jpg" class="cbp-lightbox">
                        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/ecommerce/showcase/ecommerce-showcase2.jpg" alt="...">
                    </a>
                </li>
                <li class="cbp-slider-item">
                    <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/ecommerce/showcase/ecommerce-showcase3.jpg" class="cbp-lightbox">
                        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/ecommerce/showcase/ecommerce-showcase3.jpg" alt="...">
                    </a>
                </li>
                <li class="cbp-slider-item">
                    <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/ecommerce/showcase/ecommerce-showcase4.jpg" class="cbp-lightbox">
                        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/ecommerce/showcase/ecommerce-showcase4.jpg" alt="...">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">Blankon E-Commerce</div>

        <div class="cbp-l-inline-desc">
            <p>It is a design speciality for E-Commerce dashboard designs, there are many features for support all system stores e-commerce. Such as Dashboard design with overview count products, progress chart and widget calendar and amazing others design do you need!</p>
            <p>This design support 100% responsive design, all cross browser and can open it with any devices (desktop, tablet or phone).</p>
            <hr/>
        </div>
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/admin-special/ecommerce/index.html" target="_blank" class="cbp-l-inline-view pull-right btn btn-success">VIEW DESIGN</a>
    </div>
</div>
