<div class="cbp-l-inline">
    <div class="cbp-l-inline-left scroll">
        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/slider-revolution/sleek-landing-page-detail.jpg" alt="...">
    </div>
    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">Sleek Landing Page</div>

        <div class="cbp-l-inline-desc">
            <p>Suitable to support your creative website, there are section for handle animation your working desk.</p>
            <p>This design support 100% responsive design, all cross browser and can open it with any devices (desktop, tablet or phone).</p>
            <hr/>
            <dl class="dl-horizontal">
                <dt>Section designs</dt>
                <dd>3 unique slider content</dd>
                <dt>CSS Preprocessor</dt>
                <dd><a href="http://sass-lang.com/" target="_blank">SASS</a>, <a href="http://compass-style.org/" target="_blank">Compass</a></dd>
                <dt>Plugins</dt>
                <dd>
                    <a href="https://jquery.com/" target="_blank">JQuery</a>,
                    <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>,
                    <a href="http://imulus.github.io/retinajs/" target="_blank">Retina.js</a>,
                    <a href="http://revolution.themepunch.com/jquery/" target="_blank">Slider revolution</a>
                </dd>
                <dt>Loader type</dt>
                <dd>
                    <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/documentation/admin/html/live-preview-documentation.html#preloader" target="_blank">Pulse</a>
                </dd>
                <dt>Default theme</dt>
                <dd>
                    <span class="color-theme" style="background-color: #2AA2B0">&nbsp;</span> #2AA2B0
                </dd>
            </dl>
        </div>
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend/one-page-revolution-slider/sleek-landing-page/index.html" target="_blank" class="cbp-l-inline-view pull-right">VIEW DESIGN</a>
    </div>
</div>
