<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-slider">
            <ul class="cbp-slider-wrap">
                <li class="cbp-slider-item">
                    <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/human-resources/showcase/human-resources-showcase2.jpg" class="cbp-lightbox">
                        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/human-resources/showcase/human-resources-showcase2.jpg" alt="...">
                    </a>
                </li>
                <li class="cbp-slider-item">
                    <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/human-resources/showcase/human-resources-showcase3.jpg" class="cbp-lightbox">
                        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/human-resources/showcase/human-resources-showcase3.jpg" alt="...">
                    </a>
                </li>
                <li class="cbp-slider-item">
                    <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/human-resources/showcase/human-resources-showcase4.jpg" class="cbp-lightbox">
                        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/human-resources/showcase/human-resources-showcase4.jpg" alt="...">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">Blankon Human Resources</div>

        <div class="cbp-l-inline-desc">
            <p>It is a design speciality for Human resources dashboard designs, there are many features for support all system human recrutment resources. Such as Dashboard design with overview count skills, comparison skills and amazing others design do you need!</p>
            <p>This design support 100% responsive design, all cross browser and can open it with any devices (desktop, tablet or phone).</p>
            <hr/>
        </div>
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/admin-special/human-resources/index.html" target="_blank" class="cbp-l-inline-view pull-right btn btn-success">VIEW DESIGN</a>
    </div>
</div>
