<div class="cbp-loadMore-block1">
    <div class="cbp-item slider full-screen special-content parallax youtube-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/4k-youtube-videos/index.html" class="cbp-caption cbp-singlePageInline" data-title="4K Youtube Videos<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/4k-youtube-videos.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">4K Youtube Videos</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item slider carousel full-width-content special-content">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/team-slider/index.html" class="cbp-caption cbp-singlePageInline" data-title="Team Slider<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/team-slider.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Team Slider</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item slider carousel full-width-content special-content">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/team-carousel/index.html" class="cbp-caption cbp-singlePageInline" data-title="Team Carousel<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/team-carousel.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Team Carousel</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block2">
    <div class="cbp-item hero-scene full-screen special-content parallax youtube-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/fine-dining/index.html" class="cbp-caption cbp-singlePageInline" data-title="Fine Dining<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/fine-dining.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Fine Dining</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item hero-scene full-screen special-content parallax youtube-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/the-agency/index.html" class="cbp-caption cbp-singlePageInline" data-title="The Agency<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/the-agency.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">The Agency</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item slider timer full-screen special-content parallax html5-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/concept-slider/index.html" class="cbp-caption cbp-singlePageInline" data-title="Concept Slider<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/concept-slider.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Concept Slider</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block3">
    <div class="cbp-item 3d slider hero-scene full-screen special-content parallax html5-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/creative-freedom/index.html" class="cbp-caption cbp-singlePageInline" data-title="Creative Freedom<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/creative-freedom.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Creative Freedom</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item slider timer auto-size full-screen special-content parallax html5-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/fullscreen-toggle/index.html" class="cbp-caption cbp-singlePageInline" data-title="Fullscreen Toggle<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/fullscreen-toggle.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Fullscreen Toggle</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item 3d hero-scene auto-size special-content parallax">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/parallax-scene/index.html" class="cbp-caption cbp-singlePageInline" data-title="Parallax Scene<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/parallax-scene.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Parallax Scene</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block4">
    <div class="cbp-item 3d slider full-screen special-content html5-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/wow-factor/index.html" class="cbp-caption cbp-singlePageInline" data-title="Wow Factor<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/wow-factor.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Wow Factor</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item 3d hero-scene special-content parallax html5-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/premium-3d-webproduct/index.html" class="cbp-caption cbp-singlePageInline" data-title="Premium 3D Webproduct<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/premium-3d-webproduct.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Premium 3D Webproduct</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item slider auto-size special-content">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/premium-woocommerce/index.html" class="cbp-caption cbp-singlePageInline" data-title="Premium Woocommerce<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/premium-woocommerce.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Premium Woocommerce</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block5">
    <div class="cbp-item timer carousel full-width-content parallax html5-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/carousel-classic/index.html" class="cbp-caption cbp-singlePageInline" data-title="Carousel Classic<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/carousel-classic.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Carousel Classic</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item slider carousel full-width-content">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/carousel-highlight/index.html" class="cbp-caption cbp-singlePageInline" data-title="Carousel Highlight<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/carousel-highlight.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Carousel Highlight</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item carousel auto-size special-content">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/carousel-instagram/index.html" class="cbp-caption cbp-singlePageInline" data-title="Carousel Instagram<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/carousel-instagram.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Carousel Instagram</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block6">
    <div class="cbp-item carousel full-width-content tabs vimeo-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/carousel-media/index.html" class="cbp-caption cbp-singlePageInline" data-title="Carousel Media<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/carousel-media.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Carousel Media</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item carousel full-width-content full-screen menu-navigation special-content">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/carousel-photography/index.html" class="cbp-caption cbp-singlePageInline" data-title="Carousel Photography<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/carousel-photography.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Carousel Photography</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item carousel full-width-content">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/carousel-showcase/index.html" class="cbp-caption cbp-singlePageInline" data-title="Carousel Showcase<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/carousel-showcase.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Carousel Showcase</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block7">
    <div class="cbp-item hero-scene full-width-content parallax">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/hero-image/index.html" class="cbp-caption cbp-singlePageInline" data-title="Hero Image<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/hero-image.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Hero Image</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item hero-scene full-width-content special-content vimeo-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/hero-newscollection/index.html" class="cbp-caption cbp-singlePageInline" data-title="Hero Newscollection<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/hero-newscollection.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Hero Newscollection</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item hero-scene full-width-content parallax">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/hero-newsletter/index.html" class="cbp-caption cbp-singlePageInline" data-title="Hero Newsletter<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/hero-newsletter.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Hero Newsletter</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block8">
    <div class="cbp-item hero-scene full-width-content special-content parallax">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/hero-searchform/index.html" class="cbp-caption cbp-singlePageInline" data-title="Hero Searchform<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/hero-searchform.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Hero Searchform</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item hero-scene full-width-content parallax">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/hero-sports/index.html" class="cbp-caption cbp-singlePageInline" data-title="Hero Sports<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/hero-sports.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Hero Sports</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item hero-scene full-width-content vimeo-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/hero-vimeo/index.html" class="cbp-caption cbp-singlePageInline" data-title="Hero Vimeo<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/hero-vimeo.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Hero Vimeo</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block9">
    <div class="cbp-item hero-scene full-width-content">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/hero-webproductdark/index.html" class="cbp-caption cbp-singlePageInline" data-title="Hero Webproductdark<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/hero-webproductdark.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Hero Webproductdark</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item hero-scene full-width-content">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/hero-webproductlight/index.html" class="cbp-caption cbp-singlePageInline" data-title="Hero Webproductlight<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/hero-webproductlight.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Hero Webproductlight</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item hero-scene full-width-content youtube-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/hero-youtube/index.html" class="cbp-caption cbp-singlePageInline" data-title="Hero Youtube<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/hero-youtube.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Hero Youtube</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block10">
    <div class="cbp-item full-width-content full-screen special-content parallax html5-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/premium-rotating-words/index.html" class="cbp-caption cbp-singlePageInline" data-title="Premium Rotating Words<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/premium-rotating-words.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Premium Rotating Words</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item full-width-content special-content">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/premium-content-zoom/index.html" class="cbp-caption cbp-singlePageInline" data-title="Premium Content Zoom<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/premium-content-zoom.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Premium Content Zoom</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item full-width-content full-screen special-content parallax">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/premium-big-bold/index.html" class="cbp-caption cbp-singlePageInline" data-title="Premium Big Bold<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/premium-big-bold.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Premium Big Bold</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block11">
    <div class="cbp-item carousel full-width-content tabs">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/premium-food-carousel/index.html" class="cbp-caption cbp-singlePageInline" data-title="Premium Food Carousel<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/premium-food-carousel.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Premium Food Carousel</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item slider timer auto-size parallax">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/slider-classic/index.html" class="cbp-caption cbp-singlePageInline" data-title="Slider Classic<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/slider-classic.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Slider Classic</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item slider timer full-width-content html5-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/slider-classicfull/index.html" class="cbp-caption cbp-singlePageInline" data-title="Slider Classicfull<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/slider-classicfull.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Slider Classicfull</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block12">
    <div class="cbp-item slider auto-size tabs">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/gallery-light/index.html" class="cbp-caption cbp-singlePageInline" data-title="Gallery Light<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/gallery-light.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Gallery Light</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item slider auto-size tabs">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/slider-fancytext/index.html" class="cbp-caption cbp-singlePageInline" data-title="Slider Fancytext<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/slider-fancytext.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Slider Fancytext</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item slider full-width-content full-screen front-page html5-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/slider-fashion/index.html" class="cbp-caption cbp-singlePageInline" data-title="Slider Fashion<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/slider-fashion.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Slider Fashion</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block13">
    <div class="cbp-item slider auto-size">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/gallery-dark/index.html" class="cbp-caption cbp-singlePageInline" data-title="Gallery Dark<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/gallery-dark.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Gallery Dark</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item slider full-width-content full-screen menu-navigation parallax">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/slider-generic/index.html" class="cbp-caption cbp-singlePageInline" data-title="Slider Generic<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/slider-generic.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Slider Generic</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item slider full-width-content full-screen scroll-navigation menu-navigation front-page">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/slider-gym/index.html" class="cbp-caption cbp-singlePageInline" data-title="Slider Gym<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/slider-gym.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Slider Gym</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block14">
    <div class="cbp-item slider timer auto-size tabs">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/slider-highlight/index.html" class="cbp-caption cbp-singlePageInline" data-title="Slider Highlight<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/slider-highlight.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Slider Highlight</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item slider full-width-content full-screen scroll-navigation front-page special-content html5-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/slider-levano/index.html" class="cbp-caption cbp-singlePageInline" data-title="Slider Levano<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/slider-levano.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Slider Levano</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item slider auto-size html5-video youtube-video vimeo-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/slider-media/index.html" class="cbp-caption cbp-singlePageInline" data-title="Slider Media<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/slider-media.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Slider Media</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block15">
    <div class="cbp-item slider timer full-width-content parallax html5-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/slider-news/index.html" class="cbp-caption cbp-singlePageInline" data-title="Slider News<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/slider-news.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Slider News</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item slider full-width-content full-screen scroll-navigation front-page html5-video">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/ajax/frontend-themes-3/ajax/frontend-themes-3/slider-photography/index.html" class="cbp-caption cbp-singlePageInline" data-title="Slider Photography<br>Flat Design" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/img/slider-revolution/slider-photography.jpg" alt="...">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Slider Photography</div>
                        <div class="cbp-l-caption-desc">Slider Revolution Design</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>