<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <a href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/coming-soon/coming-soon-showcase@2x.jpg" class="cbp-lightbox">
            <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/img/admin-special/coming-soon/coming-soon-showcase@2x.jpg" alt="...">
        </a>
    </div>
    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">Blankon Real Estate</div>

        <div class="cbp-l-inline-desc">
            <p>It is a design speciality for real estate dashboard designs, there are many features for support all real estate contents. Such as Dashboard design with overview count home, data people with chart circle and amazing others design do you need!</p>
            <p>This design support 100% responsive design, all cross browser and can open it with any devices (desktop, tablet or phone).</p>
            <hr/>
        </div>
        <a href="https://wrapbootstrap.com/user/djavaui" target="_blank" class="cbp-l-inline-view pull-right btn btn-success">SUGGEST DESIGN</a>
    </div>
</div>
